<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Editar Registro</h2>
  <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <input type="text"     value="<%= details.name %>" name="name">
      <input type="text"     value="<%= details.cupom %>" name="cupom">
      <input type="text"     value="<%= details.priceMonth %>" name="priceMonth">
      <input type="text"     value="<%= details.priceQuarter %>" name="priceQuarter">
      <input type="text"     value="<%= details.pricesemiannual %>" name="pricesemiannual">
      <input type="checkbox" value="<%= details.split %>" name='split' value='yes'>Split
      <input type="text"     value="<%= details.idReceive %>" placeholder="id do recebedor" name='idReceive'>
      <br />
      <button><a href="/">Voltar</a></button>
      <button type="submit">Editar</button>
    </form>
  <% }) %>

</body>
</html>